<!-- <app-ngtemplate-lecture></app-ngtemplate-lecture> -->

<!-- <app-directive-lecture></app-directive-lecture> -->

<!-- View Encapsulation Lecture -->
<!-- <div class="outside">
    Parent Outside
    <p class="inside">
        Parent Inside
    </p>
</div>
<app-view-encapsulation-lecture>
    <div class="outside">
        Ng Content Outside
        <p class="inside">
            Ng Content Inside
        </p>
    </div>
</app-view-encapsulation-lecture> -->

<app-reactive-forms-lecture></app-reactive-forms-lecture>