/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
}

.child {
    background-color: lightgray;
    border: solid 1px gray;
    padding: 1rem;
}

.highlighted:hover {
    color: blue;
    cursor: pointer;
}
